<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h2>Iniciar Sesión</h2>
    <form action="/login" method="POST">

        {% if error %}
        <span class="error-message">{{ error }}</span>
        {% endif %}

        <label>Nombre de Usuario</label>
        <input type="text" name="username" required>

        <label>Contraseña</label>
        <input type="password" name="password" required>

        <button type="submit">Entrar</button>
    </form>
    <br>
    <a href="/register">No tengo cuenta, crear una nueva</a>
</body>

</html>