<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Crear Cuenta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h2>Registro de Nuevo Usuario</h2>
    <form action="/register" method="POST">

        {% if error %}
        <span class="error-message">{{ error }}</span>
        {% endif %}

        <label>Nombre del Nuevo Usuario</label>
        <input type="text" name="username" required>

        <label>Contraseña del Nuevo Usuario</label>
        <input type="password" name="password" required>

        <label>Contraseña del Administrador (Permiso)</label>
        <input type="password" name="admin_password" required>

        <button type="submit">Crear cuenta</button>
    </form>
    <br>
    <a href="/login">Ya tengo cuenta, quiero iniciar sesión</a>
</body>

</html>