@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Cormorant+Garamond:ital,wght@0,400;1,400&family=Montserrat:wght@300;400&display=swap');

:root {
    --bg-principal: #FAF6F0;
    --texto-principal: #1C1B1A;
    --bordes: #A8A396;
    --texto-secundario: #59544B;
}

body {
    background-color: var(--bg-principal);
    color: var(--texto-principal);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 40px;
}

h1 {
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid var(--bordes);
    padding-bottom: 20px;
}

/* ESTILOS DE TABLA DE VINOS */
table {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto;
    border-collapse: collapse;
    border: 1px solid var(--bordes);
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid var(--bordes);
}

th {
    font-family: 'Cinzel', serif;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #F3EFE9;

    /* MAGIA PARA CABECERA FIJA */
    position: sticky;
    top: 0;
    z-index: 10;
    /* Evita que el texto de abajo se monte encima al hacer scroll */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
    /* Sombrita elegante para separar */
}


/* BOTONES CRUD */
.btn {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    color: var(--texto-principal);
    border: 1px solid var(--bordes);
    background: transparent;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--texto-principal);
    color: var(--bg-principal);
}

.btn-danger {
    color: #8B0000;
    border-color: #8B0000;
}

.btn-danger:hover {
    background-color: #8B0000;
    color: var(--bg-principal);
}

/* FORMULARIOS */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--bordes);
    padding: 40px;
}

label {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 1.2rem;
    display: block;
    margin-top: 20px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--bordes);
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}

/* NOTIFICACIONES FLASH */
.alert-success {
    background-color: #EBF2ED;
    /* Verde muy clarito y elegante */
    color: #2F4F2F;
    /* Verde oscuro para el texto */
    border: 1px solid #C5DAC9;
    padding: 15px 20px;
    margin: 20px auto;
    max-width: 1000px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    text-align: center;
}